<html>
    <head>
        <title>WesternGun's home</title>
    </head>
    <body>
        <div>
            <h1>Suede's complete collection</h1>
        </div>
        <div>
            <h2> - Beautiful ones</h2>
            <h2> - Saturday night</h2>
            <h2><a href="http://www.suede.co.uk"> - Trash</a></h2>
        </div>


        {% for post in posts %}
            <div>
                <p>published: {{post.published_date}} </p>
                <h1><a href="">title: {{post.title}} </a></h1>
                <p>{{post.text|linebreaksbr}}</p>

                <p>fin</p>
            </div>
            
        {% endfor %}
    </body>
</html>